################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/vc_solution/.vs
/vc_solution/*.user
/obj/*
/bin/*
/output/*